services:
  - type: web
    name: nest-docker-app
    env: docker
    branch: main
    plan: free
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: RECOMMENDER_PYTHON
        value: /usr/bin/python3
      - key: JWT_SECRET
        sync: false
      - key: MONGO_URI
        sync: false
